body { background-color: #222; color: #fff; }

body, p, ol, ul, td {
  font-family: helvetica, verdana, arial, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #ccf; }
a:visited { color: #ddf; }
a:hover { color: #fff; }

div.field, div.actions {
  margin-bottom: 10px;
}

.notice {
  color: green;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}


/* added styles */

#centered-page { width:1000px; margin:0 auto; }
h1, h2, h3 { font-weight:normal; }
.app-title { font-size:28pt; color:#ccf; }

ul.graph-list { list-style:none; padding:0; margin:0; }
ul.graph-list li { display:inline-block; width:330px; }

.small-graph { padding:10px 0; }
.small-graph p { margin:0; }
.small-graph p span.label { text-transform:uppercase; font-size:18pt; }
.small-graph p span.actions { font-size:8pt; text-transform:none; }
.small-graph p.stats { color:#bbb; }
.small-graph a.title { color:#fff; text-decoration:none; text-transform:uppercase; font-size:18pt; }
.small-graph a.title:hover { color:#ccf; }

.large-graph { padding:10px 0; }
.large-graph p span.label { text-transform:uppercase; font-size:24pt; }
.large-graph p span.actions { font-size:8pt; }
.large-graph p.subtitle span.dirpath { color:#bbb; font-size:18pt; }
.directory-status h2 { font-weight:normal; font-size:24pt; }

ul.navtabs { margin:0; padding:0; display:inline; }
ul.navtabs li { display:inline-block; margin:0; padding:0.5em; }
ul.navtabs li a { text-decoration:none; }
li.active { background-color:#333; -webkit-border-radius: 5px; }
li.active a { color:white; }

.right { float:right; }


